
<section class="">
    <!-- Footer -->
    <footer class="bg-primary text-white text-center text-lg-start footer">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer Content</h5>
  
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://github.com/KelvinxG" class="text-white">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/kelvin-charles-96b893141/" class="text-white">LinkedIn</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
   
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color:black;">
        © 2023 Copyright: KelvinxG
        <a class="text-black" href="https://github.com/KelvinxG">KelvinxG</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>