{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">

    <link rel="stylesheet" href="{% static 'styles/theme.css' %}">
    <title>Document</title>
</head>
<body>
        
    
    <div class="container">



        <!--

            test
        -->




        <div class="row d-flex align-items-center justify-content-center py-vh-5">
            <div class="col-12 col-xl-10">
              <span class="h5 text-secondary fw-lighter">Hello,world</span>
              <h1 class="display-huge mt-3 mb-3 lh-1"> Welcome to Fiji Observation project</h1>
            </div>
            <div class="col-12 col-xl-8">
              <p class="lead text-secondary">Behind every weather forecast, every early warning of life-threatening hazards, and every long-term climate change projection are observational data.</p>
            </div>
            <div class="col-12 text-center">
              <a href="#" class="btn btn-xl btn-light">Let's go!
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                </svg>
              </a>
            </div>
          </div>






        <!--ends here-->

    
        <div class="mb-3" >
            <form action ="/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
    
             
                    <label for="formFile" class="form-label">Upload your files</label>
                    <p>upload your csv or excel file </p>
                    <!-- <input class="form-control" type="file" id="formFile"> -->
                
                  <button type="submit">upload my file</button>
            </form>

            {% for message in messages %}
               <div class="alert alert-primary" role="alert" > 
                     {{message}}
               </div>
            {% endfor %}
        </div>


         <div>
            {% for data in read_file %}
                 <li>{{data}}</li>
            {% endfor %}
         </div>
   

 
<style>
    .visualize-me{
        margin-top: 15px;
        text-align: center;
    }
</style>

        <div class="visualize-me"> 
          
           

            <button type="button" class="btn btn-primary btn-xs"> <a href="{{ 'visualizer'}}">Stats </a><span class="glyphicon glyphicon glyphicon-stats"></span></button>
            <select>
                <label>Which data do you want to visualize</label>
                {% for doc in files %}
                {% if doc is None %}
                <option value>None</option>
                {% else %}
                <option value="{{doc}}">{{doc}}</option>
                 
                <p>{{doc.files.name}}</p>
                {% endif%}
             
                {% endfor %}
 
              

            </select>
       </div>
   </div>

   <script>
    $(function(){
    $("input[type='submit']").click(function(){
        var $fileUpload = $("input[type='file']");
        if (parseInt($fileUpload.get(0).files.length)>5){
         alert("You can only upload a maximum of 5 files");
        }
    });    
});​
   </script>
</body>


</html>
{% endblock %}