{% extends 'base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <div class="banner">
            <h1>
                Welcome to Fiji Observation project
            </h1>
            <p>Behind every weather forecast, every early warning of life-threatening hazards, and every long-term climate change projection are observational data.</p>
    
            <button type="button" class="btn btn-primary btn-lg" a href="#user-upload">Get started</button>
    
    
            <img class="img-banner" src="">
        </div>
    
        <div class="user-upload" id="user-upload" >
            <form action ="/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <label>Upload your files </label>
                <p>upload your csv or excel file </p>
                <button type="submit">upload my file</button>
            </form>

            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>

   

 
<style>
    .visualize-me{
        margin-top: 15px;
        text-align: center;
    }
</style>

        <div class="visualize-me"> 
            <a href="{{'visualizer'}}">Visualize me!</a>
            <select>
                <label>Which data do you want to visualize</label>
                {% for doc in files %}
                
                <option value="{{doc}}">{{doc}}</option>

                {% if doc is None %}
                <option value>None</option>
                {% endif %}
                {% endfor %}
            </select>
       </div>
   </div>
</body>


</html>
{% endblock %}